<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnDeprecation="true"
         testdox="true">
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./src</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TESTING" value="true"/>
    </php>
</phpunit>
